<template>
<div>
  <div class="add-form">
    <div 
      class="alert alert-danger alert-dismissible fade show" 
      role="alert"
      v-show="messageError !== ''"
    >
      {{ messageError }}
      <button @click="messageError = ''" type="button" class="btn-close"></button>
    </div>
    <div 
      class="alert alert-success alert-dismissible fade show" 
      role="alert"
      v-show="messageSuccess !== ''"
    >
      {{ messageSuccess }}
      <button @click="messageSuccess = ''" type="button" class="btn-close"></button>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Cancion</label>
      <input 
        type="email" 
        class="form-control" 
        id="name" 
        aria-describedby="emailHelp"
        v-model="form.name"
      >
    </div>
    <div class="mb-3">
      <label for="artistName" class="form-label">Artista</label>
      <input 
        type="email" 
        class="form-control" 
        id="artistName" 
        aria-describedby="emailHelp"
        v-model="form.artist"
      >
    </div>
    <div class="form-check form-switch">
      <input 
        class="form-check-input" 
        type="checkbox" 
        id="spanish"
        v-model="form.spanish"
      >
      <label class="form-check-label" for="spanish">Español</label>
    </div>
    <div class="form-check form-switch">
      <input 
        class="form-check-input" 
        type="checkbox" 
        id="party"
        v-model="party"
        data-type="thematic"
        @change="handleChange($event)"
      >
      <label class="form-check-label" for="party">Fiesta</label>
    </div>
    <div class="form-check form-switch">
      <input 
        class="form-check-input" 
        type="checkbox" 
        id="spanishRock"
        data-type="thematic"
        v-model="spanishRock"
        @change="handleChange($event)"
      >
      <label class="form-check-label" for="spanishRock">Rock en español</label>
    </div>
    <div class="form-check form-switch">
      <input 
        class="form-check-input" 
        type="checkbox" 
        id="indie"
        v-model="indie"
        data-type="thematic"
        @change="handleChange($event)"
      >
      <label class="form-check-label" for="indie">Rock alternativo</label>
    </div>
    <div class="form-check form-switch">
      <input 
        class="form-check-input" 
        type="checkbox" 
        id="nineties"
        data-type="thematic"
        v-model="nineties"
        @change="handleChange($event)"
      >
      <label class="form-check-label" for="nineties">90s</label>
    </div>
    <div class="form-check form-switch">
      <input 
        class="form-check-input" 
        type="checkbox" 
        id="starter"
        data-type="mood"
        v-model="starter"
        @change="handleChange($event)"
      >
      <label class="form-check-label" for="starter">Iniciadora</label>
    </div>
    <div class="form-check form-switch">
      <input 
        class="form-check-input" 
        type="checkbox" 
        id="follower"
        data-type="mood"
        v-model="follower"
        @change="handleChange($event)"
      >
      <label class="form-check-label" for="follower">Intermedia</label>
    </div>
    <div class="form-check form-switch">
      <input 
        class="form-check-input" 
        type="checkbox" 
        id="finisher"
        data-type="mood"
        v-model="finisher"
        @change="handleChange($event)"
      >
      <label class="form-check-label" for="finisher">Cerradora</label>
    </div>
    <button 
      @click="handleClick"
      type="submit" 
      class="btn btn-primary"
    >Agregar canción</button>
  </div>
</div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'AddForm',
  components: {},
  data() {
    return {
      form: {
        name: '',
        artist: '',
        thematic: [],
        mood: [],
        spanish: false,
      },
      spanishRock: '',
      indie: '',
      nineties: '',
      starter: '',
      follower: '',
      finisher: '',
      party: '',
      messageSuccess: '',
      messageError : '',
    };
  },
  methods: {
    async handleClick() {
      await axios.put('http://159.89.148.158:4000/api/songs', this.form)
        .then((result) => {
          this.messageSuccess = result.data.message;
        })
        .catch(() => {
          this.messageError = 'Ocurrió un error al guardar la canción';
        });
    },
    handleChange(el) {
      const element = el.target;
      const type = element.dataset.type;

      if (element.checked) {
        this.form[type] = [element.id, ...this.form[type]];
      } else {
        const index = this.form[type].indexOf(element.id);
        if (index > -1) {
          this.form[type].splice(index, 1);
        }
      }
    },
  },
}
</script>

<style lang="less" scoped>
.btn-primary {
  margin-top: 16px;
}
</style>