<template>
<div>
  <div 
    class="alert alert-danger alert-dismissible fade show" 
    role="alert"
    v-show="message !== ''"
  >
    {{ message }}
    <button @click="message = ''" type="button" class="btn-close"></button>
  </div>
  <div class="main-form">
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Numero de sets</span>
      <input 
        type="text" 
        class="form-control" 
        aria-label="Sizing example input" 
        aria-describedby="inputGroup-sizing-default"
        v-model="setsNumber"
      >
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Canciones por set</span>
      <input 
        type="text" 
        class="form-control" 
        aria-label="Sizing example input" 
        aria-describedby="inputGroup-sizing-default"
        v-model="songsPerSet"
      >
    </div>
    <select
      class="form-select" 
      aria-label="Default select example"
      v-model="setsType"
    >
      <option value="" selected>Tipo de sets</option>
      <option value="spanish">Canciones solo en español</option>
      <option value="english">Canciones solo en inglés</option>
      <option value="both">Mitad español, mitad inglés</option>
    </select>
    <select 
      class="form-select" 
      aria-label="Default select example"
      v-model='thematic'
    >
      <option value="" selected>Tematica</option>
      <option value="indie">Rock alternativo</option>
      <option value="spanishRock">Rock en español</option>
      <option value="nineties">90s</option>
      <option value="party">Party</option>
    </select>
    <button 
      @click="handleClick"
      type="submit" 
      class="btn btn-primary generate-btn"
    >Generar</button>
    <button 
      @click="handleClickAll"
      type="submit" 
      class="btn btn-primary"
    >All Songs</button>
  </div>
  <div class="song-list">
    <div 
      class="list-group"
      :key="indexF"
      v-for="(set, indexF) in filteredSets"
    >
      <h3>Set {{indexF + 1}}</h3>
      <a 
        :key="index"
        v-for="(song, index) in set"
        class="list-group-item list-group-item-action"
      >{{ song.artist }} - {{ song.name }}</a>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'MainForm',
  data() {
    return {
      allSongs: [],
      filteredSets: [],
      thematic: '',
      setsNumber: 0,
      songsPerSet: 0,
      setsType: '',
      message: '',
      messageSuccess: '',
    };
  },
  methods: {
    messageClick() {
      this.showMessage = false;
    },
    handleClick() {
      const {
        thematic,
        setsType,
        setsNumber,
        songsPerSet
      } = this;
      this.message = '';
      this.filteredSets = [];

      axios.post('http://159.89.148.158:4000/api/songs', {
        thematic,
        setsType,
        songsPerSet,
        setsNumber
      })
        .then((result) => {
          const {
            data,
            message,
            code
          } = result.data;

          if (code === 'success') {
            this.filteredSets = data;
            this.messageSuccess = message;
          } else {
            this.message = message;
          }
        })
        .catch(() => {
          this.message = 'Ocurrió un error de sistema';
        });
    },
    handleClickAll() {
      axios.get('http://159.89.148.158:4000/api/songs')
        .then((result) => {
          this.filteredSets = [result.data];
        })
        .catch(() => {
          this.message = 'Ocurrió un error de sistema';
        });
      this.filteredSets = this.allSongs;
    },
  },
}
</script>

<style lang="less" scoped>
.main-form {
  margin-bottom: 32px;
}

.form-select {
  margin-bottom: 8px;
}

.btn-primary {
  margin-top: 8px;
}

.generate-btn {
  margin-right: 8px;
}
</style>