<template>
  <div id="app">
    <img 
      alt="Vue logo" 
      src="./assets/d1a.jpg" 
      class="logo"
    >
    <button 
      @click="mainView = !mainView"
      type="submit"
      class="btn btn-primary add-song"
    >{{ mainView ? 'Agregar cancion' : 'Regresar' }}</button>
    <main-form v-show="mainView"/>
    <add-form v-show="!mainView"/>
  </div>
</template>

<script>
import MainForm from './components/MainForm.vue'
import AddForm from './components/AddForm.vue'

export default {
  name: 'App',
  components: {
    MainForm,
    AddForm,
  },
  data() {
    return {
      mainView: true,
    };
  },
}
</script>

<style lang="less">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 60px 30%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 576px) {
    margin: 12px;
  }
}

.logo {
  height: 150px; 
  width: 150px;
  margin-bottom: 32px;
}

.add-song {
  margin-bottom: 16px;
}
</style>
